{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "max-len": ["error", { "code": 120 }],
    "object-curly-spacing": "off",
    "require-jsdoc": "off",
    "arrow-parens": "off",
    "no-invalid-this": "off",
    "indent": "off",
    "space-before-function-paren": "off",
    "comma-dangle": "off",
    "valid-jsdoc": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
