.alert-container {
  position: fixed;
  top: 10px;
}

.alert {
  position: relative;
  display: block;
  top: 0;
  max-width: 90%;
  padding: 1rem;
  margin: 0 auto 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  transition-property: top, opacity, margin;
  transition-duration: 400ms;
  transition-timing-function: ease;

  &.open {
    top: -100px;
    opacity: 0;
  }

  @each $color in map-keys($theme-colors) {
    &#{&}-#{$color} {
      @include set-colors(map-get($theme-colors, $color), 0%);
    }
  }
}
