.modal-container {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  display: block;
  position: relative;
  width: 90%;
  max-width: 430px;
  margin: 0 auto 0;
  padding: 1em;
  margin-top: 0;
  opacity: 1;
  background-color: aqua;
  transition: all 300ms ease 100ms;

  &__title {
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 1em;
  }

  &.open {
    margin-top: 100px;
    opacity: 0;
  }
}
