.formula {
  @include display-flex;
  padding: 0;
  height: 20px;

  &__label {
    min-width: 30px;
    padding-right: 20px;
    border-right: solid 1px #ccc;
    font-style: italic;
    font-weight: 700;
    color: transparentize($dark, 0.5);
  }

  &__input {
    align-self: center;
    flex-grow: 1;
    padding: 0 5px;
    margin-left: 10px;
  }
}