$dragableElSize: 4px;
$cellHeight: 24px;

.table {
  @include set-absolute();
  min-height: 500px;
  padding: 0 !important;
  overflow-x: auto;
  overflow-y: scroll;
  @include set-border(top);


  &__head, .row {
    @include display-flex;
  }

  &__body {
    @include display-flex(column);
  }

  .column, .cell {
    position: relative;
    width: 100px;
    min-width: 40px;
    height: $cellHeight;
    flex: none;
    padding: 2px 5px;
    text-align: center;
    @include set-border(left);
    @include set-border(bottom);
  }

  .column, .first-cell {
    background-color: $muted;
    user-select: none;
  }

  .cell {
    background-color: #fff;
    text-align: left;
    user-select: text;
    height: 100%;
    white-space: nowrap;

    &.selected {
      border: none;
      outline: 3px solid $success;
      z-index: 2;
    }
  }

  .first-cell {
    @include display-flex;
    @include flex-align(center);
    position: relative;
    width: 40px;
    flex: none;
    
    @include set-border(bottom);
  }

  [data-resize] {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;

    &:hover, &.resizing {
      background-color: $primary;
    }
  }

  [data-resize=col] {
    top: 0;
    width: $dragableElSize;
    cursor: e-resize;
  }
  [data-resize=row] {
    left: 0;
    height: $dragableElSize;
    cursor: s-resize;
  }
}