$dragableElSize: 4px;
$cellHeight: 24px;

.table {
  @include set-absolute();
  min-height: 50vh;
  padding: 0 !important;
  overflow-x: auto;
  overflow-y: scroll;
  @include set-border(top);

  &__head,
  .row {
    @include display-flex;
    min-height: 20px;
    height: $cellHeight;
  }

  &__body {
    @include display-flex(column);
    padding-bottom: 20px;
  }

  .column,
  .cell {
    position: relative;
    width: 100px;
    min-width: 40px;
    height: $cellHeight;
    flex: none;
    padding: 2px 5px;
    text-align: center;
    @include set-border(left);
    @include set-border(bottom);
  }

  .column,
  .first-cell {
    height: 100%;
    background-color: $muted;
    user-select: none;
  }

  .cell {
    height: 100%;
    background-color: #fff;
    text-align: left;
    user-select: text;
    white-space: nowrap;

    &.selected {
      border: none;
      outline: 3px solid $primary;
      outline-offset: -1px;
      z-index: 2;
    }
  }

  .first-cell {
    position: relative;
    width: 40px;
    @include display-flex;
    @include flex-align(center);
    flex: none;
    @include set-border(bottom);
  }

  [data-resize] {
    position: absolute;
    right: 0;
    bottom: 0;

    &:hover,
    &.resizing {
      background-color: $primary;
      z-index: 2;
    }
  }

  [data-resize='col'] {
    top: 0;
    width: $dragableElSize;
    cursor: e-resize;
  }
  [data-resize='row'] {
    left: 0;
    height: $dragableElSize;
    cursor: s-resize;
  }
}
