#app .toolbar {
  @include display-flex();
  align-items: center;

    & > *[class^="toolbar__"] {
      @extend .toolbar;
            
      & > span {
        padding: 5px;

        &:hover {
        background-color: $muted;
        cursor: pointer;
        }
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
   }

   .material-symbols-outlined {
      font-size: 18px;
    }
}